<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Navigation Menu</title>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
         <div class="logo">
            Corporate Classifieds
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a class="active" href="#">Home</a></li>
            
         </ul>
         
            
            
            <div class="dropdown">
               <button class="dropbtn">OFFERS</button>
               <div class="dropdown-content">
                 <a href="#">OFFER DETAILS BY ID</a>
                 <a href="#">OFFER DETAILS BY CATEGORY</a>
                 <a href="#">OFFER BY TOP 3 LIKES</a>
                 <a href="#">OFFER BY POSTED DATES</a>
                 <a href="#">ENGAGE OFFER</a>
                 <a href="#">EDIT OFFER</a>
                 <a href="#">ADD OFFER</a>
               </div>
             </div>
             <div class="dropdown">
               <button class="dropbtn">EMPLOYEE</button>
               <div class="dropdown-content">
                 <a href="#">VIEW EMPLOYEE OFFERS</a>
                 <a href="#">VIEW MOST LIKED OFFERS</a>
                 <a href="#">VIEW PROFILE</a>
               </div>
             </div>
             <div class="dropdown">
               <button class="dropbtn">POINTS</button>
               <div class="dropdown-content">
                 <a href="#">GET POINTS OF EMPLOYEE</a>
                 <a href="#">REFRESH POINTS OF EMPLOYEE</a>
                 
               </div>
             </div>
      </nav>
      <div class="content">
         <div>
            COGNIZANT 2022
         </div>
         
      </div>
   </body>
</html>